<template>
  <div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <mdb-card class="example z-depth-5">
            <h2 class="mt-3">Buscar promo</h2>
            <div class="row justify-content-center">
              <div class="col-9">
                <mdb-input label="Nombre" icon="shopping-basket" class="icon" />
              </div>
            </div>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  mdbRow,
  mdbCol,
  mdbBtn,
  mdbInput,
  mdbCard,
  mdbCardBody,
  mdbCardFooter,
} from "mdbvue";
export default {
  components: {
    mdbRow,
    mdbCol,
    mdbBtn,
    mdbInput,
    mdbCard,
    mdbCardBody,
    mdbCardFooter,
  },
};
</script>

<style>
</style>