<template>
<div @click="$router.push(`/editPromo/${promo._id}`)">
	<mdb-card>
    <mdb-card-image src="{{URL}}imagen/{{promo.imgPromo}}" class="img-fluid"  style="height: 200px" alt="Card image cap"></mdb-card-image>
    <mdb-card-body>
      <mdb-card-title>{{promo.nombre_promo}} </mdb-card-title>
    </mdb-card-body>
  </mdb-card>
</div>
</template>

<script>
const URL = 'http://177.87.111.134:3000/misiones/api/v1';

import { mdbCard, mdbCardImage, mdbCardBody, mdbCardTitle, mdbCardText, mdbBtn } from 'mdbvue';
	export default {
		name: 'CardUnaPromo',
		components: {
			mdbCard,
			mdbCardImage,
			mdbCardBody,
			mdbCardTitle,
			mdbCardText,
			mdbBtn
		},
		props: ['promo'],

		data(){
			return {
				imagenMostrar: '',
			} 
		},

		mounted() {
			this.imagenMostrar = `${URL}/imagen/${this.promo.imgPromo}`;
		},
	}
</script>

<style>

</style>