<template>
        <bounce-loader
          id="loader"
          class="mb-6"
          :color="'#EF8D82'"
          :size="100"
      />

   
</template>

<script>
import { BounceLoader } from '@saeris/vue-spinners';
export default {
  data() {
    return {}
  },
  
  components: {
      BounceLoader
  }
}
</script>

<style>
#loader {
  display: table-cell;
  vertical-align: middle;
  margin:auto;
}
</style>