<template>
  <div v-if="!cargando">
    <mdb-tbl class="animate__animated animate__fadeInUp">
      <mdb-tbl-head>
        <tr>
          <th>Promo / Producto</th>
          <th>Cantidad</th>
          <th>Precio unitario</th>
        </tr>
      </mdb-tbl-head>
      <mdb-tbl-body borderless>
        <tr v-for="(promo, index) in promos" :key="index">
          <th>
            <strong>{{ promo.nombre_promo }}</strong>
          </th>

          <th>
            <strong> {{promo.cantidad}} </strong>
          </th>

          <th>
            <strong> {{promo.valor_unitario}} </strong>
          </th>

        </tr>
      </mdb-tbl-body>
    </mdb-tbl>
  </div>
</template>

<script>
import {
  mdbListGroup,
  mdbListGroupItem,
  mdbTbl,
  mdbTblHead,
  mdbTblBody,
} from "mdbvue";

export default {
  components: {
    mdbListGroup,
    mdbListGroupItem,
    mdbTbl,
    mdbTblHead,
    mdbTblBody,
  },
  props: ["pedidoProp"],

  data() {
    return {
      cargando: false,
      pedido: [],
      promos: [],
    };
  },

  mounted() {
    this.cargando = true;
    this.pedido = this.pedidoProp;
    this.promos = this.acomodoPromos();
  },

  methods: {
    acomodoPromos() {
      let arr = this.pedido
      let result = []
      arr.forEach(function (promo) {
      if (!this[promo.nombre_promo]) {
          this[promo.nombre_promo] = { nombre_promo: promo.nombre_promo, valor_unitario: Number(promo.valor),cantidad: 0 };
          result.push(this[promo.nombre_promo]);
      }
        this[promo.nombre_promo].cantidad = this[promo.nombre_promo].cantidad + 1;
      }, Object.create(null));
      this.cargando = false;
      return result;
    },

    
  },
};
</script>

<style></style>
