<template>
  <div class="no-printme">
    <mdb-navbar color="young-passion-gradient" dark>
      <mdb-navbar-brand class="no-printme">
        <img
          class="no-printme"
          @click="($route.fullPath !== '/') && $router.push('/')"
          src="@/assets/logo.png"
          style="width: 60px"
          id="logo"
        />
      </mdb-navbar-brand>
      <mdb-navbar-toggler class="no-printme">
        <mdb-navbar-nav>
          <mdb-nav-item
            ><button @click="($route.fullPath !== '/') && $router.push('/')" rounded id="botonesNav">
              <a id="texto"
                
                ><mdb-icon icon="home" class="white-text px-1" />Inicio</a
              >
            </button>
          </mdb-nav-item>
          
          
          <mdb-nav-item
            ><button 
              @click="($route.fullPath !== '/promociones') && $router.push('/promociones')" id="botonesNav" rounded>
              <a id="texto" :class="[ rutaActual === '/promociones' ? 'esRutaActual' : '']"
                ><mdb-icon icon="edit" class="white-text px-1" />Mis promos</a
              >
            </button></mdb-nav-item
          >


          <mdb-nav-item
            ><button @click="($route.fullPath !== '/newPromo') && $router.push('/newPromo')" rounded id="botonesNav">
              <a id="texto"
                
                ><mdb-icon icon="plus" class="white-text px-1" />Crear promo</a
              >
            </button>
          </mdb-nav-item>

        </mdb-navbar-nav>
        
        <button
          @click="cerrarSesion()"
          class="salir p-0"
          rounded
          id="botonesNav"
        >
          <mdb-icon icon="sign-out-alt" class="white-text px-1" />
          <a id="texto">Cerrar sesión</a>
        </button>
      </mdb-navbar-toggler>
    </mdb-navbar>
  </div>
</template>

<script>
import firebase from "firebase/app";
import "firebase/auth";

import {
  mapState,
  mapGetters,
  mapActions,
} from "vuex";

import {
  mdbNavbar,
  mdbNavbarBrand,
  mdbNavbarToggler,
  mdbNavbarNav,
  mdbNavItem,
  mdbRow,
  mdbCol,
  mdbBtn,
  mdbInput,
  mdbCard,
  mdbCardBody,
  mdbCardFooter,
  mdbIcon,
} from "mdbvue";
export default {
  name: "NavbarPage",
  components: {
    mdbNavbar,
    mdbNavbarBrand,
    mdbNavbarToggler,
    mdbNavbarNav,
    mdbNavItem,
    mdbRow,
    mdbCol,
    mdbBtn,
    mdbInput,
    mdbCard,
    mdbCardBody,
    mdbCardFooter,
    mdbIcon,
  },

  data() {
    return {
      rutaActual: false
    }
  },

  async mounted() {
    let user = await firebase.auth().currentUser;
    this.rutaActual = this.$route.fullPath;
    //(usuario)
  },

  methods: {
    ...mapActions(["LOGOUT_USUARIO"]),

    async cerrarSesion() {
      await this.LOGOUT_USUARIO().then((resp) => this.$router.push("/login"));
    },
  },

  computed: {
    ...mapGetters(["usuario"]),
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.nav a.white-text:hover {
  color: #e0e0e0 !important;
}

#logo {
  cursor: pointer;
}

.icon {
  text-align: start;
  color: gray;
}

.salir {
  background-color: transparent;
}

#botonesNav {
  background-color: transparent;
  border-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline-color: transparent;
  outline-style: none;
  outline: none;
}

#texto {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: white;
}

#texto:hover {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #00416683;
}

.esRutaActual {
  color: white !important;
  cursor: not-allowed !important;
}
</style>
