<template>
<div>
  <FormNewPromo/>
  </div>
</template>

<script>
import FormNewPromo from '../components/forms/FormNewPromo'
export default {

    components: {
        FormNewPromo
    },

    }
</script>

<style>

</style>
