<template>
<div>
<Cargando v-if="cargando" />

<div class="row justify-content-start p-0 m-0" v-if="!cargando">
    <!-- Subida de Imagen -->
    <div class="col mt-3">
      <mdb-card class="z-depth-1 d-flex align-items-center">
        <mdb-card-body class="w-100 d-flex justify-content-center py-3 px-0">
          <div class="row">
            <div class="image-preview" v-if="imagenMostrar">
              <mdb-card>
                <img
                  class="preview"
                  :src="imagenMostrar"
                  style="width: 200px; height: 400px"
                />
              </mdb-card>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>

    <!-- Formulario de Promo -->
    <div class="col-lg-9 justify-content-top align-items-top pt-3 pr-lg-4">
      <mdb-card class="border">
        <mdb-card-body class="">
          <div class="row">
            <form action="">
              <div class="row justify-content-start align-items-center">
                <div class="col-md-3 mr-lg-5">
                  <mdb-input
                    label="Nombre promo"
                    v-model="promocion.nombre_promo"
                  />
                </div>
                <div class="col-md-3 col-form-label-sm mr-5">
                  <mdb-input
                    label="Precio promo"
                    v-model="promocion.valor"
                    type="number"
                  />
                </div>

                <div class="col-md-3 justify-content-start">
                  <label class="mb-0 ml-auto" for="categoria"
                      >Categoria</label
                    >
                  <select id="categoria" v-model="promocion.categoria" class=" browser-default custom-select txt-xs">
                    <option value="Bebidas">Bebidas</option>
                    <option value="Tabaco">Tabaco</option>
                    <option value="Promociones">Promociones</option>
                    <option value="Snack">Snack</option>
                    <option value="Licores">Licores</option>
                    <option value="Primera Necesidad">Primera Necesidad</option>

                  </select>
                </div>  

                <div class="col-md-3 justify-content-start">
                  <div class="custom-control custom-checkbox">
                    <input
                      v-model="promocion.activa"
                      type="checkbox"
                      class="custom-control-input"
                      id="defaultChecked2"
                      checked
                    />
                    <label class="custom-control-label" for="defaultChecked2"
                      >Promo Activa</label
                    >
                  </div>
                  <div class="custom-control custom-switch mr-4 mt-2">
                    <input
                      v-model="promocion.tipo_producto"
                      type="checkbox"
                      class="custom-control-input"
                      id="customSwitches"
                    />
                    <label class="custom-control-label" for="customSwitches" v-if="promocion.tipo_producto===false"
                      >Promocion</label>
                      <label class="custom-control-label" for="customSwitches" v-else
                      >Producto</label>
                    
                  </div>
                </div>
                
              </div>

              <div
                class="row justify-content-start align-items-top mt-4 border border-light rounded z-depth-1 px-3"
              >
                <div class="col-md-3 mr-5" id="productos">
                  <mdb-input label="Producto" v-model="producto.nombre" />
                </div>

                <div class="col-md-3" id="productos">
                  <mdb-input
                    label="Descripcion"
                    v-model="producto.descripcion"
                  />
                </div>

                <div
                  class="col-2 col-sm-2 col-md-2 p-0 mt-4 mr-5 py-1 text-left"
                >
                  <mdb-btn
                    tag="a"
                    color="success"
                    floating
                    class="white-text text-center"
                    @click="agregarProdu(producto)"
                    ><mdb-icon icon="plus" /> ></mdb-btn
                  >
                </div>
                <div class="col-11 align-items-center justify-content-center mb-4 mt-2 animate__animated animate__fadeInUp" v-if="promocion.productos">
                  <ListaProductosPromo :arrProductos="promocion.productos" />
                </div>
              </div>
            </form>
          </div>
        </mdb-card-body>
        <div class="pl-1 pr-1 pl-sm-5 pr-sm-5 mt-4 mb-2">
          <button
            id="btnGuardar"
            class="btn btn-outline-danger btn-rounded waves-effect btn-block"
            @click="updatePromo(promocion)"
          >
            <strong>Guardar Promo</strong>
          </button>
        </div>
      </mdb-card>
    </div>
</div>
</div>

</template>

<script>
import promosServices from "../services/promosServices";
import Swal from "sweetalert2";
import ListaProductosPromo from "../components/ListaProductosPromo";
import Cargando from '../components/shared/Cargando'
import {
  mdbRow,
  mdbDatatable2,
  mdbCol,
  mdbBtn,
  mdbInput,
  mdbCard,
  mdbCardBody,
  mdbCardFooter,
  mdbIcon,
} from "mdbvue";

export default {

    components: {
        mdbRow,
        mdbCol,
        mdbBtn,
        mdbInput,
        mdbCard,
        mdbCardBody,
        mdbCardFooter,
        mdbDatatable2,
        ListaProductosPromo,
        mdbIcon,
        Cargando,
    }  ,

    data(){
        return {
            cargando: false,
            promocion: {},
            cargando: false,
            imagenMostrar: "",
            producto: {
            nombre: "",
            descripcion: "",
        },
        }
    },

    async mounted() {
        this.cargando = true;
        this.promocion = await this.cargarPromo(this.$route.params.id);
        const URL = 'http://177.87.111.134:3000/misiones/api/v1';
        this.imagenMostrar = `${URL}/imagen/${this.promocion.imgPromo}`;
        this.cargando = false;
    },

    methods: {
        async cargarPromo(id) {
            this.cargando = true;
            const promo = await promosServices.promoPorId(id);
            this.cargando = false;
            return promo.data
        },

        agregarProdu: function (producto) {
            this.promocion.productos.push(producto);
            this.producto = {
                nombre: "",
                descripcion: "",
            };
        },

        async updatePromo() {
            let promo = {
                nombre_promo: this.promocion.nombre_promo,
                valor: this.promocion.valor,
                activa: this.promocion.activa,
                tipo_producto: this.promocion.tipo_producto,
                categoria: this.promocion.categoria,
                productos: this.promocion.productos,
            };

            const update = await promosServices.editPromo(promo, this.promocion._id);
            if (update.status === 200) {
                Swal.fire({
                    icon: "success",
                    title: "Promocion Editada Ok.",
                });

            this.$router.push("/promociones");
            }

      // Aca se envia a la API , el objeto promo......
        },
    },

    }
</script>

<style>
.imgPromo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.minh-100 {
    height: 100vh;
}

.border {
    border-bottom-right-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
}

#btnGuardar:hover {
    background-color: #f3e8e8 !important;
    box-shadow: 2px 2px 2px 1px rgba(255, 0, 0, 0.5);
}
</style>
