<template>
<div>
    
    <Cargando v-if="cargando && !pedido" />
    <div class="container animate__animated animate__fadeIn" v-if="!cargando && pedido">
    <mdbCard class="mt-3 rounded-lg">
        <div class="row p-0 mt-2">
            <div class="col d-flex justify-content-start pl-lg-4 px-4">
                <h3 class="text-black-50">
                <strong> Pedido: {{ pedido._id }} </strong>
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex align-items-center">
                <mdb-list-group flush horizontal>
                    <mdb-list-group-item class="border border-white">Fecha</mdb-list-group-item>
                    <div class="col-9"></div>
                    <mdb-list-group-item class="border border-white ml-1">
                        Estado
                    </mdb-list-group-item>
                </mdb-list-group>
            </div>
        </div>

        <div class="row">
            <div class="col-11 d-flex align-items-center">
                <mdb-list-group flush horizontal>
                    <mdb-list-group-item class="border border-white p-0 ml-3">
                        <strong>{{ pedido.fecha }}</strong>
                    </mdb-list-group-item>

                    <mdb-list-group-item class="border border-white ml-5">
                        <select class="browser-default custom-select" v-model='newEstado'>
                            <option selected>{{ pedido.estado }}</option>
                            <option :value="est" v-for="(est, index) in estados" :key="index">
                                {{est}}
                            </option>
                        </select>
                    </mdb-list-group-item>
                    
                    <mdb-list-group-item class="border border-white">
                        <mdb-btn color="amber" @click="actualizarEstado()" class="ml-0 mr-3 small"><span class="white-text small" style="font-weight: 800"><mdb-icon far icon="save" class="mr-2 p-0"/>Actualizar estado</span></mdb-btn>
                        <span class="small">Estado Actual:</span> <strong class="ml-3"> {{ pedido.estado }} </strong>
                    </mdb-list-group-item>
                </mdb-list-group>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex align-items-center">
                <mdb-list-group flush horizontal>
                    <mdb-list-group-item class="border border-white">
                        Nombre
                    </mdb-list-group-item>
                    <div class="col-6"></div>
                    <mdb-list-group-item class="border border-white ml-3">
                        Direccion
                    </mdb-list-group-item>
                </mdb-list-group>
            </div>
        </div>

        <div class="row">
        <div class="col d-flex align-items-center">
          <mdb-list-group flush horizontal>
            <mdb-list-group-item class="border border-white mr-2"
              ><strong> {{pedido.data_usuario}} </strong></mdb-list-group-item
            >
            <div class="col-1 mr-5"></div>
            <mdb-list-group-item class="border border-white ml-4">
              <strong>{{ pedido.direccion }}</strong>
            </mdb-list-group-item>
          </mdb-list-group>
        </div>
      </div>

      <div class="row justify-content-center p-0 m-0 mt-4" v-if="!cargando && pedido.promociones">
        <ListaPromosPedido :pedidoProp="pedido.promociones" />
      </div>

      <div class="row">
        <div class="col d-flex justify-content-end">
          <mdb-list-group flush horizontal>
            <mdb-list-group-item class="border border-white p-0"
              ><span style="font-size: 20px; font-weight: 400"> Subtotal: </span></mdb-list-group-item
            >
            <mdb-list-group-item class="border border-white p-0 ml-2 mr-4">
              <strong class="black-text" style="font-size: 20px; font-weight: 400">${{ pedido.valor - 50 }}</strong>
            </mdb-list-group-item>
          </mdb-list-group>
        </div>
      </div>

      <div class="row">
        <div class="col d-flex justify-content-start">
          <mdb-list-group flush horizontal>
            <mdb-list-group-item class="border border-white p-0 ml-3"
              >Envio:</mdb-list-group-item
            >
            <mdb-list-group-item class="border border-white p-0 ml-2">
              <strong> Si </strong>
            </mdb-list-group-item>
          </mdb-list-group>
        </div>
      </div>

      <div class="row mt-2">    
        <div class="col d-flex justify-content-start">
          <mdb-list-group flush horizontal>
            <mdb-list-group-item class="border border-white p-0 ml-3"
              >Metodo de pago:</mdb-list-group-item
            >
            <mdb-list-group-item class="border border-white p-0 ml-2">
              <strong> {{pedido.medio_pago}} </strong>
            </mdb-list-group-item>

            <mdb-list-group-item class="border border-white p-0 ml-2" v-if="pedido.pago === false">
                <mdb-btn @click="actualizarPago()" color="amber" rounded ><span class="white-text" style="font-weight: 800"><mdb-icon far icon="check-circle" class="mr-2"/>Pago realizado</span></mdb-btn>
              
            </mdb-list-group-item>


          </mdb-list-group>
        </div>
      </div>

      <div class="row mt-5 mb-3 ">
        <div class="col d-flex justify-content-end ">
          <mdb-list-group flush horizontal class="border border-dark mr-2">
            <mdb-list-group-item class="border border-white p-0"
              ><span class="red-text ml-3" style="font-weight: 800; font-size: 22px">TOTAL:</span></mdb-list-group-item
            >
            <mdb-list-group-item class="border border-white p-0 ml-2 mr-4">
              <strong style="font-size: 22px" class="black-text">${{ pedido.valor }}</strong>
            </mdb-list-group-item>
          </mdb-list-group>
        </div>
      </div>
    </mdbCard>
    </div>

    <mdb-btn v-if="!cargando && pedido" @click="$router.push(`/print/${ $route.params.id }`)" color="amber" rounded ><span class="white-text" style="font-weight: 800"><mdb-icon far icon="check-circle" class="mr-2"/>Imprimir</span></mdb-btn>
              

</div>
</template>

<script>
import pedidosServices from "../services/pedidosServices";
import { mdbListGroup, mdbListGroupItem, mdbBtn, mdbCard, mdbIcon } from "mdbvue";
import estadosServices from '../services/estadosServices'
import Swal from "sweetalert2";
import ListaPromosPedido from "../components/shared/ListaPromosPedido";
import Cargando from '../components/shared/Cargando'

export default {

    components: {
        mdbListGroup,
        mdbListGroupItem,
        mdbBtn,
        mdbCard,
        ListaPromosPedido,
        mdbIcon,
        Cargando,
    },

    data(){
        return {
            cargando: false,
            pedido: {},
            estados: {},
            newEstado: ''
        }
    },

    async mounted() {
        this.cargando = true;
        try {
            this.pedido = await this.cargarPedido(this.$route.params.id);
            this.estados = await this.arrEstados();
            this.cargando = false;
        } catch (error) {
            Swall.fire({
                icon: 'error',
                text: error
            })
            this.cargando = false;
        }
    },

    methods: {
        async cargarPedido(id) {
            
            try {
                const pedidos = await pedidosServices.pedidoPorId(id);
                return pedidos.data    
            } catch (error) {
                Swall.fire({
                icon: 'error',
                text: error
            })
            }
        },

        async arrEstados() {
            try {
                const estados = await estadosServices.getEstados();
                return estados.opciones
            } catch (error) {
            }
    },

    async actualizarEstado() {
      const update = await pedidosServices.updateEstadoPedido(this.newEstado, this.pedido._id);
    if (update.data) {
        Swal.fire({
          icon: "success",
          title: "Estado editado correctamente",
        });
        this.$router.push('/');
      }
    },

    async actualizarPago() {
      const update = await pedidosServices.updatePagoPedido(true, this.pedido._id);
      
    if (update.data) {
        Swal.fire({
          icon: "success",
          title: "Pago realizado correctamente",
        });
        this.$router.push(`/`);

      }
    },
    }

    }
</script>

<style>

</style>
