<template>
<div class="container mt-4 mb-4 px-2">
  <h3>Pedidos Para entregar</h3>
  <TablaPedidos />
</div>
</template>

<script>
import {
  mapState,
  mapGetters,
  createNamespacedHelpers,
  mapActions,
} from "vuex";

const {
  mapGetters: categoriasApiMapGetter,
  mapActions: categoriasApiMapActions,
} = createNamespacedHelpers("categoriasApi");


import TablaPedidos from '../components/TablaPedidos'

export default {
  components: {
    TablaPedidos
  },

data() {
  return {}
},

async mounted () {
  this.isLoading = true;
  await this.getDatosApi();
  this.isLoading = false;
},

methods: {
  async getDatosApi() {
    await this.GET_CATEGORIAS();
    (this.categorias);
    this.isLoading = false;
    },

  ...categoriasApiMapActions([
      "GET_CATEGORIAS",
    ]),
},

computed: {
  ...categoriasApiMapGetter([
      "categorias",
    ]),
}

}
</script>

<style>
</style>