<template>
  <div class="fondo">
    <div class="container">
      <div class="row justify-content-center align-items-center minh-100">
        <div class="col-7">
          <mdb-card class="example z-depth-5">
            <div
              class="row young-passion-gradient justify-content-center p-3 rounded mb-0 rounded-lg example z-depth-1-half"
            >
              <img
                src="../assets/logo.png"
                style="width: 165px"
                alt=""
                srcset=""
              />
            </div>
            <form action class="form" @submit.prevent="login()">
              <mdb-card-body>
                <br />
                <div class="row px-3">
                  <mdb-input
                    v-model="email"
                    type="email"
                    label="Email"
                    icon="user"
                    class="icon"
                  />
                </div>
                <br />
                <div class="row px-3">
                  <mdb-input
                    v-model="password"
                    type="password"
                    label="Contraseña"
                    icon="key"
                    class="icon"
                  />
                </div>
                <br />
                <div class="col px-5">
                  <button
                    type="submit"
                    class="btn btn-outline-danger btn-rounded waves-effect btn-lg btn-block"
                  >
                    <i class="fas fa-sign-in-alt"></i> Ingresar
                  </button>
                </div>
                <br />
              </mdb-card-body>
            </form>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import Swal from "sweetalert2";
import * as mdb from "mdb-ui-kit"; // lib
import { Input } from "mdb-ui-kit"; // module

import { mapState, mapGetters,mapActions} from "vuex";

import {
  mdbRow,
  mdbCol,
  mdbInput,
  mdbTextarea,
  mdbBtn,
  mdbIcon,
  mdbCard,
  mdbCardBody,
  mdbCardFooter,
  mdbContainer,
} from "mdbvue";
import apiServices from '../services/apiServices';

export default {
  name: "Login",
  components: {
    mdbRow,
    mdbCol,
    mdbInput,
    mdbTextarea,
    mdbBtn,
    mdbIcon,
    mdbCard,
    mdbCardBody,
    mdbContainer,
  },

data() {
  return {
    email: "",
    password: "",
  }
},

computed: {
  ...mapGetters([
      "usuario",
 
    ]),
},

  methods: {
    ...mapActions([
      "LOGIN_USUARIO",
    ]),

// Implemento login desde backend
     async login() {
        //const hagoLogin = await apiServices.loginUsuario({email:  this.email, password: this.password});
        const hagoLogin = await this.LOGIN_USUARIO({email:  this.email, password: this.password});
        (hagoLogin) && this.$router.push('/'); 
      },


      mostrarError() {
        Swal.fire({
          icon: 'error',
          title: 'Credenciales invalidas.'
        })
      },
    },

  // data() {
  //   return {
  //     email: "",
  //     password: "",
  //     year: null,
  //     error: null,
  //   };
  // },

  mounted() {
    // this.year = new Date.getFullYear();
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100;1,300&display=swap");
@import "~mdb-ui-kit/css/mdb.min.css";
/* Extra small devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

.minh-100 {
  height: 100vh;
}

.fondo {
  background-color: #f5f5f5;
}

.icon {
  text-align: start;
}
</style>
