<template>
    <div class="cajaPrint pl-1 pr-1 caja_impresion">
        <div>
            <div class="small">
                <span class="w-50 small text-center mx-2 mt-3">  Fecha </span> 
                <strong class="w-50 small text-center mx-2 mt-3"> {{pedido.fecha}} </strong>
            </div>
            
            <mdb-list-group class="mb-2 mt-1">
                <mdb-list-group-item class="w-100 small mb-1" icon="home"> 
                    <span class="w-100 ml-1 small text-left"> {{pedido.direccion}} </span>
                </mdb-list-group-item>

                <mdb-list-group-item class="w-100 small mb-1" icon="credit-card">
                    <span class="w-100 ml-1 small text-left"> {{pedido.medio_pago}} </span>
                </mdb-list-group-item>

                <mdb-list-group-item class="w-100 small mb-1" icon="money-bill-alt"> 
                    <span class="w-100 ml-1 small text-left"> {{pago}} </span>
                </mdb-list-group-item>

            </mdb-list-group>
        </div>
        
        <strong class="mt-4">Detalle pedido</strong>
        <mdb-list-group flush class="mb-5 small">
            <mdb-list-group-item class="w-100 small" icon="cash-register" v-for="(promo, index) in promos" :key="index">
                <span class="small w-50 ml-1 text-left">  {{promo.nombre_promo}} </span> 
                <span class="small w-25 ml-1 text-right">  x{{promo.cantidad}} </span>
                <span class="small w-25 ml-1 text-right"> ${{promo.valor_unitario}} </span>
            </mdb-list-group-item>
            <mdb-list-group-item class="w-100 small" icon="motorcycle">
                <span class="small w-50 ml-1 text-left">  Envio </span> 
                <span class="small w-25 ml-1 text-right">   </span>
                <span class="small w-25 ml-1 text-right"> $50 </span>
            </mdb-list-group-item>
        </mdb-list-group>


        <span class="mt-2 mb-1 small"> Total: </span> <span class="ml-3 mt-2 h4 strong"> $ {{total}} </span>
        <br class="no-printme">
        <br class="no-printme">
        <br class="no-printme">

        <mdb-btn v-if="!cargando && pedido" @click="imprimirCupon()" color="amber" rounded ><span class="white-text mt-2 no-printme small" style="font-weight: 800"><mdb-icon far icon="check-circle" class="small mr-1"/>Imprimir</span></mdb-btn>
    
    </div>
</template>

<script>
import { mdbListGroup, mdbListGroupItem, mdbBtn, mdbCard, mdbIcon } from "mdbvue";
import pedidosServices from "../services/pedidosServices";
import Cargando from '../components/shared/Cargando'
export default {
    components: {
        Cargando,
        mdbListGroup,
        mdbListGroupItem,
        mdbBtn,
        mdbIcon
    },

    data(){
        return {
            cargando: false,
            pedido: {},
            promos: [],
        }
    },

    computed: {
        pago() {
            return (this.pedido.pago) ? 'Pago' : 'Impago'
        },

        total() {
            return Number(this.pedido.valor) + 50;
        }
    },

    async mounted() {
        this.cargando = true;
        try {
            this.pedido = await this.cargarPedido(this.$route.params.id);
            this.cargando = false;
            this.promos = this.acomodoPromos();
            console.log(this.promos);
        } catch (error) {
            this.cargando = false;
            console.log(error);
        }
    },

    methods: {
        imprimirCupon() {
            window.print();
        },

        async cargarPedido(id) {
            
            try {
                const pedidos = await pedidosServices.pedidoPorId(id);
                return pedidos.data    
            } catch (error) {
                Swall.fire({
                icon: 'error',
                text: error
            })
            }
        },

        acomodoPromos() {
            let arr = this.pedido.promociones
            let result = []
            arr.forEach(function (promo) {
            if (!this[promo.nombre_promo]) {
                this[promo.nombre_promo] = { nombre_promo: promo.nombre_promo, valor_unitario: Number(promo.valor),cantidad: 0 };
                result.push(this[promo.nombre_promo]);
            }
                this[promo.nombre_promo].cantidad = this[promo.nombre_promo].cantidad + 1;
            }, Object.create(null));
            this.cargando = false;
            return result;
        },
    }
}
</script>

<style>
.cajaPrint {
    margin: auto;
    padding-top: 1rem;
    background-color: white;
    width: 240px;
}

.md-v-line {
    display: none !important;
}

.fas{
    padding-right: 2px !important;
}

</style>