<template>
<div>
    <TablaPromociones/>
  </div>
</template>

<script>
import TablaPromociones from '../components/TablaPromociones'
import { mdbListGroup, mdbListGroupItem, mdbCard, mdbCardBody, mdbCardFooter } from 'mdbvue';

  export default {
    components: {
      TablaPromociones,
      mdbListGroup,
      mdbListGroupItem,
      mdbCard, 
      mdbCardBody, 
      mdbCardFooter
    },
    data(){
      return {}

    },
  }
</script>

<style>

</style>