<template>
  
</template>

<script>
import { mdbListGroup, mdbListGroupItem, mdbBtn, mdbCard, mdbIcon } from "mdbvue";
import estadosServices from '../services/estadosServices'
import Swal from "sweetalert2";
import ListaPromosPedido from "./shared/ListaPromosPedido";
import pedidosServices from '../services/pedidosServices';
export default {
  components: {
    mdbListGroup,
    mdbListGroupItem,
    mdbBtn,
    mdbCard,
    ListaPromosPedido,
    mdbIcon,
  },
  props: ["pedido"],
  data() {
    return {
      estados: {},
      newEstado: ''
    };
  },

  async mounted() {
    this.estados = await this.arrEstados();
    (this.estados);

  },

  methods: {
    async arrEstados() {
            const estados = await estadosServices.getEstados();
            return estados.opciones
    },

    async actualizarEstado() {
      const update = await pedidosServices.updateEstadoPedido(this.newEstado, this.pedido._id);
    if (update.data) {
        Swal.fire({
          icon: "success",
          title: "Estado editado correctamente",
        });
        this.$router.push('/');
      }
    },

    async actualizarPago() {
      const update = await pedidosServices.updatePagoPedido(true, this.pedido._id);
      
    if (update.data) {
        Swal.fire({
          icon: "success",
          title: "Pago realizado correctamente",
        });
        this.$router.push(`/`);

      }
    },
  },
};

/* <*/
</script>

<style>
</style>
