<template>
  <div>
    <mdb-list-group class="w-100">
      <mdb-list-group-item class="animate__animated" :class="[ animacionSalir ? 'animate__animated animate__fadeOut' : 'animate__animated animate__fadeIn' ]" v-for="(p, index) in arrProductos" :key="index">
        <strong><small>{{ p.nombre }}</small></strong>
        <span class="text-muted text-small font-italic text-right ">
          <small>{{ p.descripcion }}</small></span
        >
        <div class="row align-items-start">
          <div class="col">
            <mdb-btn
                    tag="a"
                    color="red"
                    floating
                    class="white-text text-center"
                    @click="eliminarProducto(index)"
                    ><mdb-icon icon="times" /> ></mdb-btn
                  >
          </div>
        </div>
        </mdb-list-group-item>
    </mdb-list-group>
  </div>
</template>

<script>
import { mdbListGroup, mdbListGroupItem, mdbBadge, mdbBtn, mdbIcon, mdbCard } from "mdbvue";

export default {
  components: {
    mdbListGroup,
    mdbListGroupItem,
    mdbBadge,
    mdbBtn,
    mdbIcon,
    mdbCard
  },

  data() {
    return {
      animacionSalir: false
    }
  },

  props: ["arrProductos"],

  mounted() {
  },
  methods: {
    eliminarProducto(index){
      this.animacionSalir = true;
      setTimeout(() => {
      this.arrProductos.splice(index,1);
      this.animacionSalir = false;
      }, 200);
    }
  }
};
</script>

<style>
.texto{
  text-align: start;
}
</style>