<template>
  <div>
    <mdb-list-group class="w-50">
      <mdb-list-group-item v-for="(p, index) in promosFiltradas" :key="index">
        <strong>{{ p.nombre }}</strong>
        <span class="text-muted text-small font-italic text-right ">
          <i>x{{ p.cantidad }}</i></span>
        </mdb-list-group-item>
    </mdb-list-group>
  </div>
</template>

<script>
import { mdbListGroup, mdbListGroupItem, mdbBadge, mdbBtn, mdbIcon, mdbCard } from "mdbvue";
import pedidosServices from "../services/pedidosServices";

export default {
  components: {
    mdbListGroup,
    mdbListGroupItem,
    mdbBadge,
    mdbBtn,
    mdbIcon,
    mdbCard
  },

  data() {
    return {
        promosFiltradas: [],
    }
  },

  props: ["pedido"],

  mounted() {
      let filtroPromo = [];
      this.pedido.forEach(element => {
          filtroPromo.push({
              nombre: element.nombre_promo,
              cantidad: 1
          })
      });

       this.promosFiltradas = filtroPromo.reduce((acumulador, valorActual) => {
            const nombre_promo = valorActual.nombre;
            const filtro = acumulador.find((elem) => {
                return elem.nombre == nombre_promo
            });
            filtro ? (filtro.cantidad++) : acumulador.push(valorActual);
            return acumulador;
          }, []);

  },
  methods: {
  }
};
</script>

<style>
.texto{
  text-align: start;
}
</style>