<template>
  <div class="col px-1">
    <div
      class="d-flex justify-content-center align-items-center minh-100"
      v-if="cargando"
    >
      <Cargando />
    </div>

    <div class="z-depth-1 row justify-content-center" v-if="!cargando && arrPedidos.length > 0">
      <div class="col mt-4 mb-4" id="texto">
        <div
        v-if="!cargando && arrPedidos.length > 0" class="animate__animated animate__fadeInUp">
          
            <table class="table">
              <thead>
                <tr>
                  <th class="text-muted"><small>Estado</small></th>
                  <th class="text-muted"><small>Cliente</small></th>
                  <th class="text-muted"><small>Direccion</small></th>
                  <th class="text-muted"><small>Editar / Eliminar</small></th>
                </tr>
              </thead>
              <tbody class="py-0">
                <tr
                  v-for="(pedido, index) in arrPedidos"
                  :key="index"
                >
                  <td class="text-center py-4">
                    {{ pedido.estado }}
                  </td>
                  <td class="text-center py-4">
                    {{ pedido.data_usuario || '' }}
                  </td>
                  <td class="text-center font-italic py-4">
                    {{ pedido.direccion}}
                  </td>
                  <td class="text-center">
                    <mdb-btn
                      @click="$router.push(`/editpedido/${pedido._id}`)"
                      tag="a"
                      color="blue"
                      floating
                      class="white-text mr-3"
                      ><mdb-icon icon="edit"
                    /></mdb-btn>
                    <mdb-btn tag="a" color="red" @click="eliminarpedido(pedido._id, index)" floating class="white-text"
                      ><mdb-icon icon="trash"
                    /></mdb-btn>
                  </td>
                </tr>
              </tbody>
            </table>
          
        </div>
      </div>
    </div>

    <div style="min-height: 300; max-height: 400px;" class="row mt-4 mb-4 px-4 justify-content-center z-depth-5 animate__animated animate__fadeInUp" v-if="!cargando && arrPedidos.length < 1">
      <div class="col mt-4" id="texto">
          <h1 class="text-center text-black-50">No existen pedidos pendientes</h1>
          <svg class="w-50 h-50 text-black-50 mb-0" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path></svg>
      </div>
    </div>


  </div>
</template>

<script>
import Swal from "sweetalert2";

import pedidosServices from "../services/pedidosServices";
import Cargando from "./shared/Cargando.vue";

import {
  mdbListGroup,
  mdbListGroupItem,
  mdbCard,
  mdbCardBody,
  mdbCardFooter,
  mdbBtn,
  mdbIcon,
  mdbDatatable,
} from "mdbvue";
export default {
  components: {
    mdbListGroup,
    mdbListGroupItem,
    mdbCard,
    mdbCardBody,
    mdbCardFooter,
    mdbIcon,
    mdbBtn,
    mdbDatatable,
    Cargando,
  },

  data() {
    return {
      cargando: false,
      arrPedidos: [],
      chequeoNuevos:null,
    };
  },

  async mounted() {
    
    this.chequeoNuevos = window.setInterval(async () => { 
    //cada 15 segundos
    console.log('Corrio');
    this.arrPedidos = await this.listaPedidos(); 
    }, 14999);

    this.cargando = true;
    this.arrPedidos = await this.listaPedidos();
    this.cargando = false;
  },

  destroyed() {
    window.clearInterval(this.chequeoNuevos);
  },

  methods: {
    async listaPedidos() {
      return await pedidosServices.getPedidos();
    },

    async eliminarpedido(id, index) {
      await Swal.fire({
        title: `Deseas eliminar el pedido?`,
        showCancelButton: true,
        cancelButtonText: 'Cancelar',
        cancelButtonColor: '#1976D2',
        confirmButtonText: `Eliminar`,
        confirmButtonColor: '#FF0000',
      }).then( async (result) => {
          if (result.isConfirmed) {
            this.cargando = true;
            try{
              const elimino = await pedidosServices.deletePedido(id);
              if (elimino){
                Swal.fire("Pedido eliminada exitosamente!", "", "success")
                this.arrPedidos.splice(index,1);
              }else {
                Swal.fire("Error al eliminar", "", "error");
              } 
              this.cargando = false;
            }
            catch(error){
              Swal.fire("Error al eliminar", "","error");
              this.cargando = false;
            }
          } 
      });
      
    },
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.minh-100 {
  height: 100vh;
}

#titulo {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#texto {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
</style>