<template>
  <div class="col-12 px-5">
    <div
      class="d-flex justify-content-center align-items-center minh-100"
      v-if="cargando"
    >
      <Cargando />
    </div>

    <div class="row justify-content-center" v-if="!cargando && arrPromociones.length > 0">
      <div class="col mt-4 mb-4 ml-5" id="texto">
        <div
        v-if="!cargando && arrPromociones.length > 0"
          class="z-depth-1 animate__animated animate__fadeInUp"
          
        >
            <table class="table">
              <thead>
                <tr>
                  <th><small class="text-muted">Activa </small></th>
                  <th><small class="text-muted">Promos</small></th>
                  <th><small class="text-muted">Precio</small></th>
                  <th><small class="text-muted">Editar / Eliminar</small></th>
                </tr>
              </thead>
              <tbody class="py-0">
                <tr
                  v-for="(promo, index) in arrPromociones"
                  :key="index"
                >
                  <td class="text-center py-4">
                    <input
                      v-if="promo.activa === true"
                      type="checkbox"
                      id="checkbox"
                      checked
                      disabled
                    />
                    <input v-else type="checkbox" id="checkbox" disabled />
                  </td>
                  <td class="text-center py-4">
                    {{ promo.nombre_promo }}
                  </td>
                  <td class="text-center font-italic py-4">
                    $ {{ promo.valor }}
                  </td>
                  <td class="text-center">
                    <mdb-btn
                      @click="$router.push(`/editPromo/${promo._id}`)"
                      tag="a"
                      color="blue"
                      floating
                      class="white-text mr-3"
                      ><mdb-icon icon="edit"
                    /></mdb-btn>
                    <mdb-btn tag="a" color="red" @click="eliminarPromo(promo._id, promo.nombre_promo, index)" floating class="white-text"
                      ><mdb-icon icon="trash"
                    /></mdb-btn>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>

    <div style="height: auto; max-height: 500px;" class="row mt-4 mb-4 px-4 justify-content-center z-depth-5 animate__animated animate__fadeInUp" v-if="!cargando && arrPromociones.length < 1">
      <div class="col mt-4" id="texto">
          <h1 class="text-center text-black-50">No existen promociones cargadas</h1>
          <svg class="w-50 h-50 text-black-50 mb-0" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path></svg>
          <br>
          <button class="btn btn-primary" @click="$router.push('/newPromo')"> Crear Promo</button>
      </div>
    </div>


  </div>
</template>

<script>
import Swal from "sweetalert2";

import promosServices from "../services/promosServices";
import Cargando from "./shared/Cargando.vue";

import {
  mdbListGroup,
  mdbListGroupItem,
  mdbCard,
  mdbCardBody,
  mdbCardFooter,
  mdbBtn,
  mdbIcon,
  mdbDatatable,
} from "mdbvue";
export default {
  components: {
    mdbListGroup,
    mdbListGroupItem,
    mdbCard,
    mdbCardBody,
    mdbCardFooter,
    mdbIcon,
    mdbBtn,
    mdbDatatable,
    Cargando,
  },

  data() {
    return {
      cargando: false,
      arrPromociones: [],
    };
  },

  async mounted() {
    this.cargando = true;
    try {
      this.arrPromociones = await this.listaPromos();
    } catch (error) {
      console.log(error);
    }
    console.log(this.arrPromociones.results);
    this.cargando = false;
  },

  methods: {
    async listaPromos() {
      const promosApi = await promosServices.getPromos();
      let respuesta = [];
      try {
        respuesta = promosApi;
      } catch (error) {
        respuesta = [];
      }
      return respuesta;
    },

    async eliminarPromo(id, nombre, index) {
      await Swal.fire({
        title: `Deseas eliminar la promo: ${nombre.toUpperCase() } ?`,
        showCancelButton: true,
        cancelButtonText: 'Cancelar',
        cancelButtonColor: '#1976D2',
        confirmButtonText: `Eliminar`,
        confirmButtonColor: '#FF0000',
      }).then( async (result) => {
        if (result.isConfirmed) {
        try {
          const elimino = await promosServices.deletePromo(id);
          if (elimino.status === 200) {
            Swal.fire("Promo eliminada exitosamente!", "", "success");
            this.arrPromociones.splice(index,1);
          }else {
            Swal.fire("Error al eliminar", "", "error");
          }
        
        } catch (error) {
          Swal.fire(error, "error");
        }
        } 
      });
      
    },
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.minh-100 {
  height: 100vh;
}

#titulo {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#texto {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
</style>