
.caja_impresion {
    border: none;
};

@media print {
    @page { 
      margin: 0;
    }

    .caja_impresion {
        border: 1px solid #4c4c4c;
        border-radius: 8px !important;
        visibility:visible !important;
        padding: 14px;
    }

    .no-printme {
      display: hidden !important;
      -webkit-print-color-adjust: exact !important;
    }
}