<template>
  <div id="app">
    <div class="no-printme">
      <Navbar  v-if="$route.fullPath !== '/login'"/>
    </div>
    <router-view/>
  </div>
</template>

<script>
import Navbar from './components/shared/Navbar'
export default {
  components: {
    Navbar
  },
}
</script>
<style scoped>

#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}


#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}


</style>
