<template>
  <div class="row justify-content-start p-0 m-0">
    <Cargando v-if="cargando" />
    <!-- Subida de Imagen -->
    <div class="col-lg-3 pl-lg-4 pt-3" v-if="!cargando">
      <mdb-card class="z-depth-1 d-flex align-items-center">
        <mdb-card-body class="w-75 d-flex justify-content-center py-3 px-0">
          <div class="row">
            <div class="input-group">
              <div class="custom-file">
                <input
                  type="file"
                  @change="previewImage"
                  accept="image/*"
                  class="custom-file-input"
                  id="inputGroupFile01"
                  aria-describedby="inputGroupFileAddon01"
                />
                <label
                  class="custom-file-label text-left"
                  for="inputGroupFile01"
                  >Subir Imagen</label
                >
              </div>
            </div>
            <div
              class="image-preview p-0 m-0 d-flex justify-content-center mt-3"
            >
              <div
                v-if="!imgParaBase64"
                class="p-0 mt-0 d-flex justify-content-start"
              >
                <p
                  id="passwordHelpBlock"
                  style="color: red; font-size: 10px"
                  v-if="!imgParaBase64"
                >
                  * Debe cargar una imagen
                </p>
              </div>
              <mdb-card>
                <img
                  v-if="imageData.length > 0"
                  class="preview"
                  :src="imageData"
                  style="width: 200px; height: 400px"
                />
              </mdb-card>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>

    <!-- Formulario de Promo -->
    <div
      class="col-lg-9 justify-content-top align-items-top pt-3 pr-lg-4"
      v-if="!cargando"
    >
      <mdb-card class="border">
        <mdb-card-body class="">
          <div class="row px-4">
            <form action="">
              <div class="row justify-content-start align-items-center">
                <div class="col-md-3">
                  <mdb-input
                    label="Nombre promo"
                    class="mb-2"
                    v-model="$v.nuevaPromo.nombre_promo.$model"
                  />
                  <div
                    v-if="$v.nuevaPromo.nombre_promo.$dirty"
                    class="p-0 mt-0 d-flex justify-content-start"
                  >
                    <p
                      id="passwordHelpBlock"
                      style="color: red; font-size: 10px"
                      v-if="!$v.nuevaPromo.nombre_promo.required"
                    >
                      Debe ingresar un nombre
                    </p>
                  </div>
                </div>

                <div class="col-md-3">
                  <mdb-input
                    label="Precio promo"
                    class="mb-2"
                    v-model="$v.nuevaPromo.valor.$model"
                    type="number"
                  />
                  <div
                    v-if="$v.nuevaPromo.valor.$dirty"
                    class="p-0 mt-0 d-flex justify-content-start"
                  >
                    <p
                      id="passwordHelpBlock"
                      style="color: red; font-size: 10px"
                      v-if="!$v.nuevaPromo.valor.required"
                    >
                      Debe ingresar un precio valido
                    </p>
                  </div>
                </div>

                <div class="col-md-3">
                  <select
                    v-model="$v.nuevaPromo.categoria.$model"
                    class="mt-2 browser-default custom-select"
                  >
                    <option value="Bebidas">Bebidas</option>
                    <option value="Tabaco">Tabaco</option>
                    <option value="Promociones">Promociones</option>
                    <option value="Snack">Snack</option>
                    <option value="Licores">Licores</option>
                    <option value="Primera Necesidad">Primera Necesidad</option>
                  </select>
                </div>

                <div class="col-md-3 justify-content-start">
                  <div class="custom-control custom-checkbox">
                    <input
                      v-model="$v.nuevaPromo.activa.$model"
                      type="checkbox"
                      class="custom-control-input"
                      id="defaultChecked2"
                      checked
                    />
                    <label class="custom-control-label" for="defaultChecked2"
                      >Promo Activa</label
                    >
                  </div>
                  <div class="custom-control custom-switch mr-4 mt-2">
                    <input
                      v-model="$v.nuevaPromo.tipo_producto.$model"
                      @click="nuevaPromo.tipo_producto = !nuevaPromo.tipo_producto"
                      type="checkbox"
                      class="custom-control-input"
                      id="customSwitches"
                    />
                    <label class="custom-control-label" for="customSwitches" v-if="nuevaPromo.tipo_producto===false"
                      >Promocion</label>
                      <label class="custom-control-label" for="customSwitches" v-else
                      >Producto</label>
                    
                  </div>
                </div>
              </div>

              <div
                class="row justify-content-start align-items-top mt-4 border border-light rounded z-depth-1 px-3"
              >
                <div class="col-md-3 mr-5" id="productos">
                  <mdb-input label="Producto" v-model="producto.nombre" />
                </div>

                <div class="col-md-3 mr-4" id="productos">
                  <mdb-input
                    label="Descripcion"
                    v-model="producto.descripcion"
                  />
                </div>

                <div
                  class="col-2 col-sm-2 col-md-2 p-0 mt-4 mr-5 py-1 text-left"
                >
                  <mdb-btn
                    tag="a"
                    color="success"
                    floating
                    class="white-text text-center"
                    @click="agregarProdu(producto)"
                    ><mdb-icon icon="plus" /> ></mdb-btn
                  >
                </div>
                <div
                  class="col-11 align-items-center justify-content-center mb-4 mt-4 animate__animated animate__fadeInUp"
                  v-if="nuevaPromo.productos.length > 0"
                >
                  <ListaProductosPromo :arrProductos="nuevaPromo.productos" />
                </div>
              </div>
            </form>
          </div>
        </mdb-card-body>
        <div class="pl-1 pr-1 pl-sm-5 pr-sm-5 mt-4 mb-2">
          <button
            id="btnGuardar"
            class="btn btn-outline-danger btn-rounded waves-effect btn-block"
            :disabled="
              $v.nuevaPromo.valor.$invalid ||
              nuevaPromo.productos.length < 1 ||
              !imgParaBase64
            "
            @click="postearNuevaPromo(nuevaPromo)"
          >
            <strong>Guardar Promo</strong>
          </button>
        </div>
      </mdb-card>
    </div>
  </div>
</template>

<script>
//* Modifique la forma en que se arma el v-model de las validaciones.
//* Valido que tenga por lo menos un producto cargado
//* Valido que tenga una imagen cargada

import Swal from "sweetalert2";
import promosServices from "../../services/promosServices";

import ListaProductosPromo from "../ListaProductosPromo";
import { required, minLength } from "vuelidate/lib/validators";
import Cargando from "../shared/Cargando";
import {
  mdbRow,
  mdbDatatable2,
  mdbCol,
  mdbBtn,
  mdbInput,
  mdbCard,
  mdbCardBody,
  mdbCardFooter,
  mdbIcon,
  mdbSwitch,
} from "mdbvue";
export default {
  components: {
    mdbRow,
    mdbCol,
    mdbBtn,
    mdbInput,
    mdbCard,
    mdbCardBody,
    mdbCardFooter,
    mdbDatatable2,
    ListaProductosPromo,
    mdbIcon,
    mdbSwitch,
    Cargando,
  },

  data() {
    return {
      cargando: false,
      imageData: "",
      imgParaBase64: null,
      // Este es el arr que se le pasa a la lista, que es una coleccion de productos
      listaProdu: [],

      // Este es el Obj que maneja el form
      producto: {
        nombre: "",
        descripcion: "",
      },

      nuevaPromo: {
        categoria: "Promociones",
        nombre_promo: null,
        valor: null,
        activa: false,
        tipo_producto: false,
        imgPromo: "",
        productos: [],
      },
    };
  },

  computed: {},
  validations: {
    nuevaPromo: {
      nombre_promo: {
        required,
      },
      categoria: {},

      valor: {
        required,
      },
      activa: {},

      tipo_producto: {},

      imgPromo: {},

      productos: {},
    },
  },

  methods: {
    previewImage: function (event) {
      // Reference to the DOM input element
      let input = event.target;
      // Ensure that you have a file before attempting to read it
      if (input.files && input.files[0]) {
        // create a new FileReader to read this image and convert to base64 format
        let reader = new FileReader();
        // Define a callback function to run, when FileReader finishes its job
        reader.onload = (e) => {
          // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
          // Read image as base64 and set to imageData
          this.imageData = e.target.result;
        };
        // Start the reader job - read file as a data url (base64 format)
        reader.readAsDataURL(input.files[0]);
      }
      this.imgParaBase64 = event.target.files[0];
    },

    agregarProdu: function (producto) {
      this.nuevaPromo.productos.push(producto);
      this.producto = {
        nombre: "",
        descripcion: "",
      };
    },

    async postearNuevaPromo() {
      this.cargando = true;
      let promo = {
        nombre_promo: this.nuevaPromo.nombre_promo,
        valor: this.nuevaPromo.valor,
        activa: this.nuevaPromo.activa,
        tipo_producto: this.nuevaPromo.tipo_producto,
        imgPromo: this.imgParaBase64,
        productos: this.nuevaPromo.productos,
        categoria: this.nuevaPromo.categoria,
      };
      const send = await promosServices.newPromo(promo);

      if (send.status === 200) {
        Swal.fire({
          icon: "success",
          title: "Promocion creada correctamente",
        });
        this.cargando = false;
        this.$router.push("/promociones");
      } else {
        Swal.fire({
          icon: "error",
          title: "Hubo un problema, intente nuevamente",
        });
        this.cargando = false;
      }

      // Aca se envia a la API , el objeto promo......

  console.log(promo);
    },
  },
};
</script>

<style>
.imgPromo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.minh-100 {
  height: 100vh;
}

.border {
  border-bottom-right-radius: 30px 30px;
  border-bottom-left-radius: 30px 30px;
}

#btnGuardar:hover {
  background-color: #f3e8e8 !important;
  box-shadow: 2px 2px 2px 1px rgba(255, 0, 0, 0.5);
}
</style>
